* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fcae3f;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.illustration {
  background-image: url(./img/illustration.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 650px;
  height: 400px;
  margin-top: 7vh;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1.5vh;
  text-align: center;
}

.under-work {
  width: 90%;
}

.contact-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.phone,
.fb {
  display: flex;
  align-items: center;
  margin-top: 2vh;
}

img {
  width: 27px;
}

.contact-text {
  margin-left: 0.7rem;
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-weight: 500;
}

.fb-link:hover,
.fb-link:active {
  color: #bd1d2d;
}

.phone p {
  font-weight: 600;
}

@media (min-width: 1700px) {
  html {
    font-size: 24px;
  }
  .illustration {
    width: 750px;
    height: 500px;
  }
}

@media (min-width: 1920px) {
  html {
    font-size: 30px;
  }
  .illustration {
    width: 800px;
    height: 550px;
  }
}

@media (max-width: 780px) {
  html {
    font-size: 12px;
  }
  .illustration {
    width: 350px;
    height: 220px;
  }
  img {
    width: 28px;
  }

  .contact-text {
    font-size: 1.2rem;
  }
  h1 {
    font-size: 1.8rem;
    margin-bottom: 2vh;
  }
}
